policy_module(blastwall, 0.6.1)

########################################
#
# Blastwall login/admin user domain.
#
# The reference-policy template creates:
# - blastwall_r
# - blastwall_t
# - blastwall_sudo_t and related sudo support where available
#
# The typealias gives the PoC a more descriptive public context name while
# keeping the template-generated user domain intact.
#

userdom_admin_user_template(blastwall)
typealias blastwall_t alias blastwall_root_local_t;

optional_policy(`
	init_reload_services(blastwall_t)
	systemd_exec_systemctl(blastwall_t)
	usermanage_run_groupadd(blastwall_t, blastwall_r)
	usermanage_run_useradd(blastwall_t, blastwall_r)
')
